/* Default Content */
body, html{
    width: 100%;
}

body { 
    /* Opmaak */
    padding-top: 50px;
    
    /* Tekst opmaak */
    text-align: justify;
}

footer{
    background-color: #222222;
    height: 5em;
    color: #9d9d9d;
    text-align: center;
    vertical-align: middle;
}

/* Banner */
#banner{
    height: 300px;
    margin-bottom: 10px;
    background-size: auto;
}