html, body{
    width: 100%;
    height: 100%;
}

.body-content{
    background-image: url(../img/img_web/web_index/bg_1.jpg);
    background-position: top;
    background-size: cover;
    height: 100%;
}

.content{
    margin-left: auto;
    margin-right: auto;
    margin-top: 20em;
    max-width: 50em;
    height: 15em;
    background-color: rgba(255, 255, 255, 0.8);
    border-color: rgba(255, 255, 255, 0.8);
    border-radius: 2em;
}

.content h1{
    font-weight: bold;
    font-size: 2em;
    padding-top: 2.5em;
    margin-bottom: -0.5em;
}

.content h2{
    font-weight: bold;
    font-style: italic;
    font-size: 1.1em;
    margin-top: 0.3em;
}

.content hr{
    margin-top: 20px;
    margin-bottom: 0px;
    border: 0;
    border-top: 1px solid #000000;
    max-width: 30em;
}

.content-btn{
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    max-width: 52em;
}

.content-btn .btn{
    border-radius: 1em;
}